.header {
  background-image: url("./../../images/desktop/image-header.jpg");
  /* Image for desktop */
  color: white;
  padding: 16px;
  padding-bottom: auto;
  font-family: "Lato", sans-serif;
  padding: 1rem 10rem 5rem 10rem;
  background-size: cover;
  background-position: center;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 80px 80px;
}

.hero {
  padding: 2rem 10rem 15rem 10rem;
  position: relative;
}

.arrow {
  position: absolute;
  width: 12%;
  top: 60%;
  left: 50%;
  transform: translate(-60%, -50%);
}

.textHero {
  margin: 1rem 10rem 5rem 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titleHero {
  font-size: 36px;
  letter-spacing: 3px;
  font-family: "Lato";
}

.buttonHero {
  margin: 5rem 10rem 5rem 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.start-free {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  padding: 8px 16px;
  text-align: center;
}

.learn-more {
  background: none;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  margin-left: 8px;
  padding: 8px 16px;
  border-radius: 26px;
  text-align: center;
}

.start-free {
  background: white;
  color: #f56565;
  border-radius: 26px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 16px;
  /* Added margin to create space between logo and menu */
}

.desktop-menu {
  display: flex;
}

.menu-item {
  position: relative;
  margin-right: 16px;
  /* Spacing between menu items */
}

.menu-button {
  background: none;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 8px;
}

.menu-button:hover {
  color: #e2e8f0;
  /* Lighter shade for hover effect */
}

.dropdown {
  position: absolute;
  top: 100%;
  /* Position below the button */
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
  width: 200px;
  background: white;
  color: black;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: black;
}

.dropdown-item:hover {
  background: #f7fafc;
  /* Light background on hover */
}

.auth-buttons {
  display: flex;
}

.login-button,
.signup-button {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  padding: 8px 16px;
}

.signup-button {
  background: white;
  color: #000000;
  border-radius: 26px;
  font-family: "Lato";
}

.hamburger {
  display: none;
  /* Hidden by default */
}

.hamburger-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.hamburger-icon {
  width: 24px;
  height: 24px;
}

.mobile-menu {
  background-color: rgba(235, 235, 240, 0.3);
  color: black;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 16px 0;
}

.mobile-menu-item {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: black;
}

.mobile-dropdown {
  background: linear-gradient(to right, #f56565, #ed64a6);
}

.mobile-dropdown-item {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: black;
}

.mobile-dropdown-item:hover {
  background: #edf2f7;
  /* Lighter background on hover */
}

/* Media Queries */
@media (max-width: 768px) {
  .desktop-menu {
    display: none;
    /* Hide desktop menu on mobile */
  }

  .hamburger {
    display: block;
    /* Show hamburger menu on mobile */
  }

  .header {
    padding: 1rem 1rem 1rem 1rem;
    background-image: url("./../../images/mobile/image-header.jpg");
    /* Image for desktop */
  }

  .container {
    margin: 1rem 0rem 0rem 0.5rem;
  }

  .mobile-menu {
    background-color: white;
    display: block;
    margin: 60px 6px;
    padding: 20px 0px;
  }

  .mobile-menu::before {
    content: '';
    position: absolute;
    top: 81.3px;
    right: 30px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-bottom: 50px solid white;
  }

  .mobile-menu-item {
    font-size: 20px;
    padding: 20px 0;
    color:#5c5e60;
    font-weight: 600;
  }

  .arrow {
    position: absolute;
    width: 20%;
    height: 40%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .textHero {
    margin: 0 auto;
    display: flex;
    padding-top: 2rem;;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .titleHero {
    font-size: 50px;
    text-align: center;
  }

  .buttonHero {
    margin: 1rem 2rem 0rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .signup-button {
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 25px;
    padding: 17px 5px;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(30%, 3%);
    text-align: center;
    background: rgb(231, 195, 12);
    color: #000000;
    border-radius: 26px;
   font-weight:900; 
  }
}