.testimonials{
    font-family: "Lora";
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    margin:7rem 0 4rem 0;
    font-size: 36px;
    color:rgb(138, 134, 128);
    font-weight: bold;
}
.imgMen{
    width:10%;
    border-radius: 50%;
    margin:0 auto;
}
.cards{
    display:flex;
    flex:1 1 50%;
    margin:4rem 10rem;
    gap:15px;
}
.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%;
    flex:1 1 50%;
    gap:10px;
}
.textCard{
    margin:2rem 0;
    text-align: center;
    font-size: 18px;
    color:rgb(69, 69, 67);
    font-weight: bold;
}
.nameCard{
    font-size:22px;
    font-weight: bold;
}
.positionCard{
    font-size:16px;
    font-weight: bold;
    color:rgb(175, 175, 169);
    margin-bottom:3rem;
}
@media (max-width: 768px) {
    .testimonials{
        display:flex;
    }
    .cards{
        display:flex;
        flex-direction: column;
    }
    .title{
        margin:4rem 0;
        text-align: center;
        font-size:20px;
    }
    .imgMen{
        width:30%;  
    }
    .cards{
        margin:2rem 3rem;
        gap:15px;
    }
    .card{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        flex:1 1 50%;
        gap:10px;
    }
    .textCard{
        font-size:16px;
    }
    .nameCard{
        font-size:14px;
    }
    .positionCard{
        font-size:12px;
    }
}
